.post_page .post_container {
	background: white;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.post_page .comment_container {
	background: rgba(255, 255, 255, 0.509);
	padding: 0 1rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	margin-top: 1rem;
	width: 90%;
	margin-left: auto;
}

.post_page .comment_area {
	margin-block: 1rem;
}

.post_page .comment_area button {
	margin-top: 0.5rem;
	display: block;
	margin-left: auto;
}

.post_page .post_content {
	max-width: 100%;
	margin: 0.25rem;
}

.post_page .edit_post_modal {
	max-width: 1000px;
	margin: auto;
}

.post_page .edit_post_modal .title {
	padding: 25px;
}

.edit_post_modal .textfield,
.edit_post_modal .preview {
	height: 50vh;
	width: 100%;
	display: block;
	padding: 10px;
	border-radius: 1rem;
}

.edit_post_modal .preview {
	border: 1px solid rgb(43, 43, 43);
}

.edit_post_modal .tabs {
	margin: 0 1rem;
}

.edit_post_modal .editor {
	align-items: center;
	gap: 1rem;
}

.edit_post_modal .options {
	padding: 2rem;
}

.edit_post_modal .submitButton {
	display: block;
	margin-left: auto;
}
