.main_page {
	background: rgb(238, 238, 238);
	min-height: 100vh;
}

.main_page .content {
	margin-left: 200px;
	padding: 1rem;
}

.main_page .create_button {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
