.login_page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.login_page .menu {
	display: flex;
	justify-content: space-between;
	background: #001529;

	--contentWidth: 1000px;
	padding: 0 max(2rem, 50vw - var(--contentWidth) / 2);
}

.login_page .menu a {
	color: white;
	padding: 1rem;
}

.login_page .menu a:hover {
	background: #092035;
}

.login_page .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.login_page .content .error {
	max-width: 30rem;
}
