.explore_page .profile_container {
	background: white;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin-bottom: 1rem;
}

.explore_page .profile_container .source {
	color: rgb(171, 169, 169);
	font-size: 0.75rem;
	margin-top: 0.5rem;
}
