.signup_page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.signup_page .menu {
	display: flex;
	justify-content: space-between;
	background: #001529;

	/* limit the menu width */
	--contentWidth: 1000px;
	padding: 0 max(2rem, 50vw - var(--contentWidth) / 2);
}

.signup_page .menu a {
	color: white;
	padding: 1rem;
}

.signup_page .menu a:hover {
	background: #092035;
}

.signup_page .content {
	flex: 1;
	display: grid;
	place-items: center;
}
